<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container_buy_item grid">
        {{#with item}}
            <div class="image__price__item grid__row">
                <div class="show__image__item grid__column__8">
                    <div class="area__select__image">
                        Choose image
                    </div>
                    <div class="image__item">
                        <img src="{{this.imageURL}}" alt="" id="imageUrl">
                    </div>
                </div>
                <div class="show__price grid__column__4">
                    <div class="sold__out">
                        <span class="text__sold__out">
                            Bán chạy
                        </span>
                    </div>
                    <div class="show__name__item">
                        <span id="name__item">{{this.name}}</span>
                    </div>
                    <div class="show__description__item">
                        <span id="description__item">{{this.description}}</span>
                    </div>
                    <div class="show__price__item">
                        <span id="price__item">{{this.cost}} VND</span>
                        <div class="status__item__check">
                            <span class="status__item">Còn hàng </span>
                            <span class="fa-solid fa-circle-check fa-lg"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="choose__quality__item">
                        <span id="quality__item">Chọn số lượng 1</span>
                    </div>
                    <div class="add__buy__item">
                        <a href="/cart" class="add__item" onclick="addItem2cart(event)">
                            <span class="fa-solid fa-cart-shopping"></span>
                            <span class="text__add__item">Thêm giỏ hàng</span>
                        </a>
                        <a href="/cart" class="buy__item"  onclick="addItem2cart(event)">
                            <span class="fa-solid fa-bag-shopping"></span>
                            <span class="text__buy__item">
                                Mua ngay
                            </span>
                        </a>
                    </div>
                    <hr>
                    <div class="benefit__ship">
                        <div class="truck__item">
                            <div class="icon__benefit__ship">
                                <div class="fa-solid fa-truck"></div>
                            </div>
                            <div class="text__truck__ship">Miễn phí giao hàng xem tại giỏ hàng(*)</div>
                        </div>
                        <div class="exchange__item">
                            <div class="icon__benefit__ship">
                                <div class="fa-solid fa-rotate "></div>
                            </div>
                            <div class="text__exchange__item">1 đổi 1 trong vòng 7 ngày</div>
                        </div>
                        <div class="check__after__cash">
                            <div class="icon__benefit__ship">
                                <div class="fa-solid fa-sack-dollar"></div>
                            </div>
                            <div class="text__check__after__cash">
                                <span class="check__text">Kiếm tra hàng trước khi thanh toán</span>
                            </div>
                        </div>
                    </div>
                </div>
                <span id="adminPost">{{this.adminPost}}</span>
            </div>
        {{/with}}
    </div>
</body>
<script defer>
    async function addItem2cart(event){
        event.preventDefault(); // / Ngăn chặn hành động mặc định của thẻ <a>
        name = document.getElementById('name__item').textContent;
        description = document.getElementById('description__item').textContent;
        imageURL = document.getElementById('imageUrl').src;
        cost = document.getElementById('price__item').textContent;
        adminPost = document.getElementById('adminPost').textContent;
        const ItemSchema = {
            name: name,
            description : description,
            imageURL : imageURL,
            cost : cost,
            adminPost: adminPost,
        };
        try{
            // Gửi yêu cầu POST đến server để lưu item
            const response = await fetch('/add-to-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(ItemSchema),
            });
            if (response.ok) {
                console.log(response.ok);
               // Nếu lưu thành công, chuyển đến trang giỏ hàng
                window.location.href = '/cart';
            } else {
                alert("fali")
            }
        }
        catch(error){
            console.log(error);
        }
    }
</script>
</html>

