<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container__clothing__female__page">
            <div class="circle__items">
                <div class="header__body__menu">
                    <span class="title__body">DÀNH RIÊNG CHO PHÁI ĐẸP !</span>
                </div>
                <div class="container__circle__items">
                    <div class="grid__row category__female">
                        {{#each itemsCircle}}
                            <div class="grid__column__2">
                                <a href="#" class="category__link">
                                    <img src= "{{this.imageURL}}" alt="" class="image__category">
                                    <div class="dicription">
                                        <span class="text__dicription">{{this.description}}</span>
                                    </div>
                                </a>
                            </div>

                        {{/each}}
                </div>
                    <div class="grid__row category__male">
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17141297201939360_512.webp&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo chống nắng nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17141297201939360_512.webp&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo polo nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17141297201939360_512.webp&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Giày thể thao nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17141297201939360_512.webp&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo thun nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17141297201939360_512.webp&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Quần Shorts nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17141297201939360_512.webp&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Sức khỏe & Làm đẹp</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale__off__items">
                <div class="header__body__menu">
                    <span class="title__body">ÁO CHỐNG NẮNG</span>
                </div>
                <div class="grid__row category__sele__off">
                    {{#each items}}
                        <div class="grid__column__3">
                            <a href="clothing-female/{{this.slug}}" class="category__link">
                                <img src="{{this.imageURL}}" alt="" class="image__category__sale__off">
                                <div class="dicription__sale__off">
                                    <span class="text__dicription__sale__off">{{this.description}}</span>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </body>
</html>